if SHIELD_XIAO_DONGLE

config ZMK_KEYBOARD_NAME
    default "Urchin"

config ZMK_SPLIT_ROLE_CENTRAL
    default y

config ZMK_USB
    default y

endif

if SHIELD_XIAO_LEFT || SHIELD_XIAO_RIGHT || SHIELD_XIAO_DONGLE

config ZMK_SPLIT
    default y

config ZMK_BLE
    default y

endif
